<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Brain Assistent
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="filterNotesByType()">
                <ion-icon name="funnel"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredNotes()">  </ion-searchbar>

    <ion-list>
        <ion-card *ngFor="let note of notes" (click)="viewDetails(note)">
            <ion-item>
                <ion-thumbnail item-right *ngIf="note.type" >
                    <img *ngIf="note.type == 'reminder'" src="assets/img/reminder.png" />
                    <img *ngIf="note.type == 'picture'" src="assets/img/picture.png" />
                    <img *ngIf="note.type == 'place'" src="assets/img/place.png" />
                    <img *ngIf="note.type == 'important'" src="assets/img/important.png" />
                </ion-thumbnail>
                <h2>{{note.title}}</h2>
                <p>{{note.description}}</p>
            </ion-item>            
        </ion-card>
    </ion-list>


    <ion-fab button right bottom>
        <button ion-fab mini color="primary" (click)="onAddBtnClicked()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>