<ion-header>
    <ion-navbar color="primary">
        <ion-title>New Note</ion-title>

        <!-- Does not work with the submit
        <ion-buttons end>
            <button ion-button type="submit">Save</button>
        </ion-buttons>
        -->
    </ion-navbar>
</ion-header>

<ion-content>
    <form padding>
        <ion-input type="text" placeholder="Title" [(ngModel)]="note.title" name="title" style="font-weight: bold"></ion-input>
        <ion-textarea type="text" placeholder="Description" [(ngModel)]="note.description" name="description"></ion-textarea>

        <!--Type einstellen-->
        <ion-item>
            <ion-label>Type: </ion-label>
            <ion-select [(ngModel)]="note.type" name="type">
                <ion-option value="reminder">Reminder</ion-option>
                <ion-option value="picture">Picture</ion-option>
                <ion-option value="place">Place</ion-option>
                <ion-option value="important">Important</ion-option>
            </ion-select>
        </ion-item>

        <!-- Reminder will be set if not null-->
        <ion-item *ngIf="this.note.reminder">
            <ion-label type="date">Reminder Time was set</ion-label>
        </ion-item>

        <!-- Location will be set if not null-->
        <ion-item *ngIf="this.note.location != null">
            <ion-label>Location was fetched
                <button ion-button icon-only clear button color="dark" end (click)="deleteLocation()">
                    <ion-icon name="md-trash"></ion-icon>
                </button>
            </ion-label>
        </ion-item>

        <!-- Save Button will Save all Attributes of the Note in the Object-->
        <button ion-button block color="dark" (click)="addNewNote()">Save</button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button icon-only clear button color="dark" (click)="onOpenAddMyLocation()">
            <ion-icon name="ios-navigate"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="dark" (click)="onOpenAddReminder()">
            <ion-icon name="ios-alarm"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="dark" (click)="onOpenAddImage()">
            <ion-icon name="md-image"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="dark" (click)="onOpenAddColor()">
            <ion-icon name="md-color-fill"></ion-icon>
        </button>


    </ion-toolbar>
</ion-footer>