<ion-header>
    <ion-navbar color="primary">
        <ion-title>New Note</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-color': note.color}">
    <form padding>
        <ion-input type="text" placeholder="Title" [(ngModel)]="note.title" name="title" style="font-weight: bold"></ion-input>
        <ion-textarea type="text" placeholder="Description" [(ngModel)]="note.description" name="description" rows="5"></ion-textarea>

        <!--Setting type-->
        <ion-item [ngStyle]="{'background-color': note.color}">
            <ion-label>Type: </ion-label>
            <ion-select [(ngModel)]="note.type" name="type">
                <ion-option value="reminder">Reminder</ion-option>
                <ion-option value="picture">Picture</ion-option>
                <ion-option value="place">Place</ion-option>
                <ion-option value="important">Important</ion-option>
                <ion-option value="">None</ion-option>
            </ion-select>
        </ion-item>

        <!-- Reminder will be set if not null-->
        <ion-item *ngIf="this.note.reminder" [ngStyle]="{'background-color': note.color}">
            <ion-label type="date">Reminder Time was set</ion-label>
        </ion-item>

        <!-- Location will be set if not null-->
        <ion-item *ngIf="this.note.location != null" [ngStyle]="{'background-color': note.color}">
            <ion-label>Location was fetched
                <button ion-button icon-only clear button color="secondary" (click)="deleteLocation()">
                    <ion-icon name="md-trash" class="red"></ion-icon>
                </button>
            </ion-label>
        </ion-item>

        <!-- Save Button will Save all Attributes in the Note-Object -->
        <button ion-button block color="secondary" (click)="addNewNote()">Save</button>
    </form>
</ion-content>
<!-- Footer with all additional attributes which can be set -->
<ion-footer>
    <ion-toolbar style="text-align: center">
        <button ion-button icon-only clear button color="secondary" (click)="onOpenAddMyLocation()" class="btn_margin">
            <ion-icon name="ios-navigate"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="secondary" (click)="onOpenAddReminder()" class="btn_margin">
            <ion-icon name="ios-alarm"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="secondary" (click)="onOpenAddImage()" class="btn_margin">
            <ion-icon name="md-image"></ion-icon>
        </button>

        <button ion-button icon-only clear button color="secondary" (click)="onOpenAddColor()" class="btn_margin">
            <ion-icon name="md-color-fill"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>